@font-face {
    font-family: 'ADELIA';
    src: url('./ADELIA.otf') format('opentype');
    /* Add additional formats if necessary */
}

@font-face {
    font-family: 'Candy Beans';
    src: url('./Candy Beans.otf') format('opentype');
}

#headerText {
    font-family: 'Candy Beans', sans-serif;
    color: #570D02;
    font-size: 24px; /* Adjust the font size */
    margin-top: 10px; /* Adjust the margin-top for spacing */
    margin-bottom: 30px
}

body {
    font-family: 'ADELIA', sans-serif;
    background-color: #F4E3D3;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

#sentence {
    font-size: 20px;
    color: #27420F;
}

#soupName,
#ingredient1,
#ingredient2 {
    color: #FE6B00;
}

#try,
#with,
#and {
    color: #27420F;
}

#soupEmoji {
    width: 200 px; /* Adjust the width */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer;
    margin-top: 20px; /* Adjust the margin-top for spacing */
}
