@font-face {
    font-family: 'ADELIA';
    src: url('./ADELIA.otf') format('otf');
    /* Add additional formats if necessary */
}

body {
    font-family: 'ADELIA', sans-serif;
    background-color: #F4E3D3;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    text-align: center;
}

#sentence {
    font-size: 20px;
    color: #27420F;
}

#soupName,
#ingredient1,
#ingredient2 {
    color: #FE6B00;
}

#try,
#with,
#and {
    color: #27420F;
}

#soupEmoji {
    width: auto; /* Adjust the width */
    height: 200px; /* Maintain aspect ratio */
    cursor: pointer;
    margin-top: 20px; /* Adjust the margin-top for spacing */
}
