@font-face {
    font-family: 'ADELIA';
    src: url('/Users/annetteguan/Documents/soup/ADELIA.otf') format('otf'),
    /* Add additional formats if necessary */
}

body {
    font-family: 'ADELIA', sans-serif;
}

#sentence,
#soupName,
#ingredient1,
#ingredient2,
#try,
#with,
#and {
    font-family: 'ADELIA', sans-serif;
}

body {
    background-color: #F4E3D3;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

#sentence {
    font-size: 20px;
    color: #27420F;
}

#soupName,
#ingredient1,
#ingredient2 {
    color: #FE6B00;
}

#try,
#with,
#and {
    color: #27420F;
}

